USE [master]
GO
/****** Object:  Database [client]    Script Date: 15/01/2021 10:33:25 ******/
CREATE DATABASE [client]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'client', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\client.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'client_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\client_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [client].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [client]
GO
/****** Object:  Table [dbo].[clientinfo]    Script Date: 15/01/2021 10:33:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientinfo](
	[id] [int] NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[lastname] [nvarchar](250) NOT NULL,
	[adress] [nvarchar](250) NOT NULL,
	[ville] [nvarchar](250) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
